####################################################
##  基本符号 https://blog.csdn.net/chenjian723122704/article/details/113412355?share_token=2B6EA74E-1A1B-46B1-A0E4-F10C3D10486D&tt_from=dingtalk&utm_source=dingtalk&utm_medium=toutiao_ios&utm_campaign=client_share&dtshare_count=1
####################################################
## “#”来标识velocity的脚本语句。
## “$”来标识一个对象（或者变量）。
## “{}”用来标识velocity变量。
## “！”用来强制把不存在的变量显示为空白。
## 用双引号还是单引号表示，默认“”，可以在stringliterals.interpolate=false改变默认处理方式
##
##
####################################################
##  变量
####################################################
## 1. 变量的规范
## ${name}，也可以写成$name。 但一般情况下使用${name}。注意：当引用属性的时候不能加{}。
##
##
## 2. 变量赋值
## 左侧：为变量或者属性的引用。
## 右侧：变量引用、字面字符串、属性引用、方法引用、字面数字、数组列表。
#set($Friend = "monica") ## 字符串引用
#set($Blame = $spindoctory.weave($web)) ## 方法引用
#set($Number = 123) ## 数字引用
#set($Say = ["Not",$name,"fault"]) ##数组列表
$Say
## 右值是null，则左侧不会被赋值，会保留原来的值。
## velocity 模板中未被定义的将被认为是一个字符串。
#set($foo = "gibbous")
$moon=$foo
#set($moon = $foo)
$moon
##
##
##
####################################################
##  遍历
####################################################
## velocity无法直接使用Integer（或Double），但是可以先定义一个整型变量（Double），使用这个整型变量的parseInt（“string”）转换。
#set($Integer = 0)
#set($start1 = $Integer.parseInt("10"))

#set($start = 12)
#set($end = 16)
#foreach($element in [$start1..$end])
This is $element
$velocityCount
#end
#set($list=["pine","oak","maple"])
#foreach($element in $list)
$velocityCount
This is $element.
#end

# ---------------- parse
#parse("./test-module.sh.vm")

####################################################
##  对字符串截取
####################################################
#set($dataSplit = $te.test2.name.split("-"))
#foreach($element in [$Integer.parseInt($dataSplit[0])..$Integer.parseInt($dataSplit[1])])
对字符串截取 $element
$velocityCount
#end

"${te.minio.volumebasepath}"
"${te.my.name}"
#set($test1 = "#rootPath/test1")
$test1
cd #rootPath/outProperties
#rootPath
#dataPath
source #shell("color-log.sh")
#rm("test.sh")

#rm("conf/test.tar data.tar")
warn "cd #rootPath"

${te.mysql.dataPath}